# Node.js
node_modules/

# Stream Deck files
*.sdPlugin/bin
*.sdPlugin/logs
com.github.eliankars.multiple-counters.sdPlugin/keep/Category.psd
com.github.eliankars.multiple-counters.sdPlugin/keep/Counter action.psd
com.github.eliankars.multiple-counters.sdPlugin/keep/Marketplace.png
com.github.eliankars.multiple-counters.sdPlugin/keep/Preview1.jpg
com.github.eliankars.multiple-counters.sdPlugin/keep/Reset action.psd
